<a href="https://colab.research.google.com/github/2k0v11/WebScrapping/blob/main/WebScrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [122]:
import requests
from bs4 import BeautifulSoup as bs
#bs4 is a package and BeautifulSoup is a Library

In [125]:
url='https://www.amazon.in/Samsung-Galaxy-Ultra-Phantom-Storage/product-reviews/B0BT9FDZ8N/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews'
page=requests.get(url) #the requests library is requesting for the url to be fethed
page #response[200]-all okay,response[503]-check for proper url

In [ ]:
page.content

In [ ]:
soup= bs(page.content,'html.parser')
soup #soup variable has the full source code of the webpage
#html.parser - displays our code in a better readable format

In [128]:
names=soup.find_all('span',class_ ='a-profile-name')[2:]
names 
#we have removed the top-positive and top-critical review

[<span class="a-profile-name">Ashish</span>,
 <span class="a-profile-name">Opensorcerer</span>,
 <span class="a-profile-name">Opensorcerer</span>,
 <span class="a-profile-name">Akshay Deshpande</span>,
 <span class="a-profile-name">Singh</span>,
 <span class="a-profile-name">Singh</span>,
 <span class="a-profile-name"> Dr.Thomas Kuruvilla Ph.D</span>,
 <span class="a-profile-name">‡Æ§‡Æô‡Øç‡Æï‡Æ≥‡Æø‡Æ©‡Øç ‡Æö‡Øá‡Æµ‡Øà ‡ÆÆ‡Æø‡Æï‡Æµ‡ØÅ‡ÆÆ‡Øç ‡Æµ‡Æø‡Æ∞‡Øà‡Æµ‡Ææ‡Æï ‡Æá‡Æ∞‡ØÅ‡Æ®‡Øç‡Æ§‡Æ§‡ØÅ. ‡ÆÆ‡Øá‡Æ≤‡ØÅ‡ÆÆ‡Øç ‡Æé‡Æ©‡Æ§‡ØÅ  ‡Æ™‡Æ¥‡Øà‡ÆØ mobile ‡Æ§‡Ææ‡Æô‡Øç‡Æï‡Æ≥‡Øç ‡ÆÖ‡Æ≥‡Æø‡Æ§‡Øç‡Æ§ ‡Æö‡Æ≤‡ØÅ‡Æï‡Øà ‡ÆÆ‡Æø‡Æï‡Æµ‡ØÅ‡ÆÆ‡Øç ‡Æö‡Æø‡Æ±‡Æ™‡Øç‡Æ™‡ØÅ. ‡Æá‡Æ®‡Øç‡Æ§ mobile ‡ÆÆ‡Æø‡Æï‡Æö‡Øç‡Æö‡Æø‡Æ±‡Æ™‡Øç‡Æ™‡ØÅ</span>,
 <span class="a-profile-name">SilverStar</span>,
 <span class="a-profile-name">SilverStar</span>,
 <span class="a-profile-name">P Raj</span>,
 <span class="a-profile-name">Placeholder</span>,
 <span class="a-profile-name">RAVICHANDRAN</span>]

In [129]:
import pandas as pd
df=pd.DataFrame(names,columns= ['Customer name'])
df

                                        Customer name
0                                              Ashish
1                                        Opensorcerer
2                                        Opensorcerer
3                                    Akshay Deshpande
4                                               Singh
5                                               Singh
6                            Dr.Thomas Kuruvilla Ph.D
7   ‡Æ§‡Æô‡Øç‡Æï‡Æ≥‡Æø‡Æ©‡Øç ‡Æö‡Øá‡Æµ‡Øà ‡ÆÆ‡Æø‡Æï‡Æµ‡ØÅ‡ÆÆ‡Øç ‡Æµ‡Æø‡Æ∞‡Øà‡Æµ‡Ææ‡Æï ‡Æá‡Æ∞‡ØÅ‡Æ®‡Øç‡Æ§‡Æ§‡ØÅ. ‡ÆÆ‡Øá‡Æ≤‡ØÅ‡ÆÆ‡Øç...
8                                          SilverStar
9                                          SilverStar
10                                              P Raj
11                                        Placeholder
12                                       RAVICHANDRAN

In [131]:
df=df.drop_duplicates(ignore_index=True)
df

                                       Customer name
0                                             Ashish
1                                       Opensorcerer
2                                   Akshay Deshpande
3                                              Singh
4                           Dr.Thomas Kuruvilla Ph.D
5  ‡Æ§‡Æô‡Øç‡Æï‡Æ≥‡Æø‡Æ©‡Øç ‡Æö‡Øá‡Æµ‡Øà ‡ÆÆ‡Æø‡Æï‡Æµ‡ØÅ‡ÆÆ‡Øç ‡Æµ‡Æø‡Æ∞‡Øà‡Æµ‡Ææ‡Æï ‡Æá‡Æ∞‡ØÅ‡Æ®‡Øç‡Æ§‡Æ§‡ØÅ. ‡ÆÆ‡Øá‡Æ≤‡ØÅ‡ÆÆ‡Øç...
6                                         SilverStar
7                                              P Raj
8                                        Placeholder
9                                       RAVICHANDRAN

In [132]:
r_title=soup.find_all('a',class_='review-title')
r_title

[<a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R35LA0S1BHCO6G?ASIN=B0BT9FDZ8N">
 <span>Well rounded decent phone from Samsung</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R2VD3B8QBCM4AC?ASIN=B0BT9FDZ8N">
 <span>True flagship performance and excellent overall with a (hopefully) temporary glitch.</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R17OQF0CDJ1L3E?ASIN=B0BT9FDZ8N">
 <span>Battery capacity bit low, bit overpriced to competition</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R216PZ7ASJ9RZO?ASIN=B0BT9FDZ8N">
 <span>The perfect beast</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R3J0VM9JLHFD3X?ASIN=B0BT9FDZ8N">
 <span>Galaxy S23 5G</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R21V0EJ2BZOB65?ASIN=B0BT9FDZ8N">
 <span>S 23 ultra</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/RCFA23PZDI77E?ASIN=B0BT9FDZ8N">
 <span>I like it.. but not love it.</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R3OQDSI3YK94NZ?ASIN=B0BT9FDZ8N">
 <span>Buttery creamy performance-best compact phone</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R2QYKC6FVO3QLM?ASIN=B0BT9FDZ8N">
 <span>Best android iPhone üòâ</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R3J56Z86IQ5EPT?ASIN=B0BT9FDZ8N">
 <span>Value for money</span>
 </a>]

In [133]:
len(r_title)

10

In [134]:
review_title=[]
for i in range(0,len(r_title)):
 review_title.append(r_title[i].get_text()[1:-1]) #[1:-1] is done to remove the '\n' at the begining and end of each review in html text
review_title

['Well rounded decent phone from Samsung',
 'True flagship performance and excellent overall with a (hopefully) temporary glitch.',
 'Battery capacity bit low, bit overpriced to competition',
 'The perfect beast',
 'Galaxy S23 5G',
 'S 23 ultra',
 'I like it.. but not love it.',
 'Buttery creamy performance-best compact phone',
 'Best android iPhone üòâ',
 'Value for money']

In [135]:
date=soup.find_all('span',class_='review-date')[2:]
date

[<span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India üáÆüá≥ on 5 April 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India üáÆüá≥ on 8 March 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India üáÆüá≥ on 13 April 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India üáÆüá≥ on 28 February 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India üáÆüá≥ on 13 April 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India üáÆüá≥ on 11 April 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India üáÆüá≥ on 13 March 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India üáÆüá≥ on 3 April 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India üáÆüá≥ on 13 April 2023</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India üáÆüá≥ on 1 April 2023</span>]

In [136]:
review_date=[]
for i in range(0,len(date)):
  review_date.append(date[i].get_text().replace("Reviewed in India üáÆüá≥ on ",''))
review_date

['5 April 2023',
 '8 March 2023',
 '13 April 2023',
 '28 February 2023',
 '13 April 2023',
 '11 April 2023',
 '13 March 2023',
 '3 April 2023',
 '13 April 2023',
 '1 April 2023']

In [137]:
r_rating=soup.find_all('i',class_='review-rating')[2:]
r_rating

[<i class="a-icon a-icon-star a-star-4 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">4.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-4 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">4.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-4 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">4.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-4 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">4.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-4 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">4.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-4 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">4.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-4 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">4.0 out of 5 stars</span></i>]

In [138]:
review_rating=[]
for i in range(0,len(r_rating)):
  review_rating.append(r_rating[i].get_text())
review_rating

['4.0 out of 5 stars',
 '4.0 out of 5 stars',
 '4.0 out of 5 stars',
 '5.0 out of 5 stars',
 '4.0 out of 5 stars',
 '4.0 out of 5 stars',
 '4.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '4.0 out of 5 stars']

In [139]:
len(review_rating)

10

In [ ]:
r_content=soup.find_all('span',class_='review-text-content')
r_content

In [ ]:
review_content=[]
for i in range(0,len(r_content)):
  review_content.append(r_content[i].get_text().replace('\n',''))
review_content

In [142]:
len(review_content)

10

In [143]:
df['Review Title']=review_title
df['Review Date']= review_date
df['Review Rating']=review_rating
df['Review Content']=review_content

In [144]:
df

,Customer name,Review Title,Review Date,Review Rating,Review Content
0,Ashish,Well rounded decent phone from Samsung,5 April 2023,4.0 out of 5 stars,Writing this review after 1 month of using thi...
1,Opensorcerer,True flagship performance and excellent overal...,8 March 2023,4.0 out of 5 stars,The media could not be loa...
2,Akshay Deshpande,"Battery capacity bit low, bit overpriced to co...",13 April 2023,4.0 out of 5 stars,I felt screen size and battery could have been...
3,Singh,The perfect beast,28 February 2023,5.0 out of 5 stars,This phone is a pefect upgrade from my old One...
4,Dr.Thomas Kuruvilla Ph.D,Galaxy S23 5G,13 April 2023,4.0 out of 5 stars,The phone is working fine. Very compact and st...
5,‡Æ§‡Æô‡Øç‡Æï‡Æ≥‡Æø‡Æ©‡Øç ‡Æö‡Øá‡Æµ‡Øà ‡ÆÆ‡Æø‡Æï‡Æµ‡ØÅ‡ÆÆ‡Øç ‡Æµ‡Æø‡Æ∞‡Øà‡Æµ‡Ææ‡Æï ‡Æá‡Æ∞‡ØÅ‡Æ®‡Øç‡Æ§‡Æ§‡ØÅ. ‡ÆÆ‡Øá‡Æ≤‡ØÅ‡ÆÆ‡Øç...,S 23 ultra,11 April 2023,4.0 out of 5 stars,Overall super
6,SilverStar,I like it.. but not love it.,13 March 2023,4.0 out of 5 stars,I bought it a week ago.. i upgraded from my o...
7,P Raj,Buttery creamy performance-best compact phone,3 April 2023,5.0 out of 5 stars,I bought the cream version and it looks very p...
8,Placeholder,Best android iPhone üòâ,13 April 2023,5.0 out of 5 stars,I am using Samsung brand more than 10 years an...
9,RAVICHANDRAN,Value for money,1 April 2023,4.0 out of 5 stars,Best picture qualityFast charging missing